<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Location Information
      </div>
      <!-- end item-divider -->
      <div class="item item-text-wrap">
        <h2>Our Address</h2>
        <h2>121, Clear Water Bay Road</h2>
        <h2>Clear Water Bay, Knowloon</h2>
        <h2>HONG KONG</h2>
        <h2><span class="ion-android-call">:</span> +852 1234 5678</h2>
        <h2><span class="ion-android-print">:</span> +852 8765 4321</h2>
        <h2 type="email"><span class="ion-android-mail">:</span> <a href="#">confusion@food.net</a></h2>
      </div>
      <!-- end item-text-wrap -->

    <div class="button-bar">
      <a class="button button-positive"><i class="ion-android-call"></i> Call</a>
      <a class="button button-calm"><i class="ion-social-skype"></i> Skype</a>
      <a class="button button-balanced"><i class="ion-android-mail"></i> Email</a>
    </div>
  </div>
  <!-- end card -->
  </ion-content>
</ion-view>
